.cartPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartTitle {
    font-weight: 400;
    font-size: 1.71vw;
    line-height: 2.57vw;
    letter-spacing: 0;
    margin: 4.5vw 0;
}

.cartContents {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.85vw 3vw 2.85vw;
}

.cartContent {
    width: 63.71vw;
    height: 24vw;
    display: flex;
    flex-direction: column;
    
    /* Добавляем скролл */
    overflow-y: auto;  /* Появится только если товаров больше, чем на 336px */
    overflow-x: hidden; /* Убираем горизонтальный скролл на всякий случай */
    
    /* Quiet Luxury: делаем скроллбар тонким и аккуратным */
    scrollbar-width: thin;
    scrollbar-color: #E8E8DD transparent;
}

/* Настройка стиля скроллбара для Chrome, Safari */
.cartContent::-webkit-scrollbar {
    width: 1px;
}

.cartContent::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}

.cartContentTitles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.57vw;
}

.cartContentTitles > h3:first-child {
    flex: 0 0 32.14vw; /* Жестко фиксируем 450px, не даем сжиматься или расти */
}

.cartContentTitles > h3:not(:first-child) {
    flex: 1; /* Распределяем оставшееся место поровну */
    
}

.cartContentTitle {
    font-weight: 400;
    font-size: 0.92vw;
    line-height: 100%;
    letter-spacing: 2%;
}

.cartItem {
    width: 100%;
    max-height: 8.78vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.57vw 1.61vw 1.57vw 0;
    border-top: 1px solid #E8E8DD;
    align-items: center;

}

.cartItem > div:first-child {
    flex: 0 0 32.14vw; /* Жестко фиксируем 450px, не даем сжиматься или расти */
}

.cartItem:not(:first-child) {
    flex: 1; /* Распределяем оставшееся место поровну */
    
}
.cartItemDescription {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5.64vw;
    

}

.cartItemInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}
.cartItemLink {
    display: block;
    margin-right: 0.85vw;
    width: 4.57vw;
    height: 4.57vw;
    object-fit: cover;
    overflow: hidden;
    flex-shrink: 0;
}

.cartItemImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Сохраняем пропорции, обрезая лишнее */
    display: block;
}

.colorInfo {
    display: flex;
    flex-direction: row;
}

.colorCircle {
    width: 2.14vw;
    height: 2.14vw;
    border-radius: 50%;
    border: 1px solid #E5E5E5;
    cursor: pointer;
}

.quantityControls {
    width: 6.57vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemTotal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}





.cartResult {
    width: 27.14vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartResultTitle {
    font-weight: 400;
    font-size: 2.14vw;
    line-height: 2.85vw;
    letter-spacing: 0;
}

.cartResultSubtitle {
    width: 100%;
    font-weight: 400;
    font-size: 1.42vw;
    line-height: 1.7vw;
    letter-spacing: -1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.78vw 0 0 0;
}

.cartResultSubtitle:last-of-type {
    font-size: 1.71vw;
    line-height: 2.57vw;
    letter-spacing: 0;
    margin-top: 3.78vw;
    margin-bottom: 0.71vw;
}

.loyalty {
    font-weight: 400;
    font-size: 0.78vw;
    line-height: 100%;
    letter-spacing: 2%;
    align-self: flex-end;
}

.cartButton {
    width: 100%;
    height: 4.42vw;
    border: #333333 1px solid;
    background-color: #333333;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.71vw;
    letter-spacing: -1%;
    margin-top: 0.71vw;
}