@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-Regular.woff") format("woff2"),
       url("./Raleway/Raleway-Regular.woff2") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* ЖИРНЫЙ (Bold 700) */
@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-Bold.woff") format("woff2"),
       url("./Raleway/Raleway-Bold.woff2") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
  
  /* @font-face {
    font-family: "JetBrains Mono";
    src: url("./Raleway/Raleway-Regular.woff") format("woff");
    font-style: bold;
    font-weight: 700;
    font-display: swap;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("./Raleway/Raleway-Regular.woff2") format("woff2");
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    
  } */
