.header {
    position: relative;
    z-index: 1000;
    width: 100vw;
    height: 5.71vw;
    background-color: #FBFBFB;
    border-bottom: 1px solid #E5E5E5;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative; /* Чтобы логотип позиционировался относительно центра всей полоски */
}

.menu {
    display: flex;
    gap: 2.5vw;
    align-items: stretch;
    height: 100%;
}

/* ЛОГОТИП СТРОГО ПО ЦЕНТРУ */
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.5vw;
    height: 2.71vw;
    text-decoration: none;
}

.logoImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;
}

.menuPage, .menuItemTrigger {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: clamp(12px, 0.86vw, 18px);
    color: #333333;
    text-decoration: none;
    box-sizing: border-box;
}

.navWrapper {
    height: 100%;
    display: flex;
    align-items: stretch;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
}

.activeTab {
    border-bottom: 2px solid #333333;
}

.menuItemTrigger {
    gap: 0.5vw;
}

.caretDown {
    width: 0.8vw;
    height: 0.8vw;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

.actions {
    display: flex;
    gap: 3vw;
    align-items: stretch;
    height: 100%;
}

.frame {
    display: flex;
    gap: 1.5vw;
    align-items: center;
}

.frame img {
    width: 1.71vw; /* 24px */
    height: 1.71vw;
    display: block;
}

/* Бейдж корзины */
.cartIconWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.cartBadge {
    position: absolute;
    top: -0.3vw;
    right: -0.5vw;
    background-color: #333333;
    color: white;
    font-size: 0.6vw;
    min-width: 1vw;
    height: 1vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

